@charset "UTF-8";

/* 共通パーツ
=========================== */
html {
  font-size: 62.5%; /*  1rem = 10px  */
  scroll-behavior: smooth;
}

:root {
  /* 色 */
  --color-primary: #464646;
  --color-secondary: #666666;
  --color-link: #0070f3;

	/* バックグランドカラー */
	--bg-primary: #EEE9E9;
	--bg--secondary:#D8C3C3;
	--bg--info:#FAFAFA;
	--bg--info2:#DEE4ED;

  /* フォント */
  --ff-base:  'Noto Sans JP', 'Inter', sans-serif;
  --ff-en:  "Alata", "Fuzzy Bubbles" , sans-serif;

  /* フォントサイズ */
	--fz-sm:14px;
  --fz-base: 16px;
  --fz-ttl: 40px;
}

body {
	font-size: var(--fz-base);
	font-family: var(--ff-base);
	font-weight: 400;
	line-height: normal;
	letter-spacing: .1em;
	background: transparent;
	color: var(--color-primary);
	-webkit-font-smoothing: antialiased;
}

.page-inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}

.content-inner {
	padding: 0 24px;
}

.c-btn {
	display: inline-block;
	background: var(--color-primary);
	padding: 14px 72px;
	border: 1px solid var(--color-primary);
	border-radius: 60px;
	text-align: center;
	color: #fff;
}

.c-btn__footer {
	display: inline-block;
	background: var(--color-primary);
	padding: 14px 112px;
	border: 1px solid var(--color-primary);
	border-radius: 60px;
	text-align: center;
	color: #fff;
}

.c-btn__add {
	display: inline-block;
	background: var(--bg--secondary);
	padding: 14px 72px;
	border: 1px solid var(--bg--secondary);
	border-radius: 60px;
	text-align: center;
	color: #fff;
}

.c-ttlArea {
	display: inline-block;
}

.c-title {
	font-family: "Alata";
	font-size: 40px;
	letter-spacing: .2em;
	width: 100%;
}

.c-subTitle {
	text-align: center;
	font-size: 14px;
	position: relative;
}

.c-subTitle::after {
	content: "";
	position: absolute;
	background: var(--bg-primary);
	width: 80px;
	height: 1px;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
}

.c-text {
	line-height: 2;
	letter-spacing: .1em;
}

/* Header
=========================== */
.header-area {
	display: flex;
	width: 100%;
	max-width: 1920px;
	height: 130px;
	justify-content: space-between;
}

.header-inner {
	width: 100%;
	margin-top: 6px;
}

.header-cart {
	width: 130px;
	height: auto;
}

.header-upper {
	height: 50px;
	padding: 0 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-upper__title {
	font-size: 14px;
}

.header-upper__menuArea {
	display: flex;
	align-items: center;
	gap: 36px;
}

.header-lower {
	border-top: .5px solid var(--color-primary);
	padding: 10px 34px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header-lower__logo {
	width: 92px;
	height: auto;
}

.header-lower__subttl {
	margin-top: 8px;
	font-size: 10px;
	font-family: var(--ff-en);
}

.header-lower__navArea {
	display: flex;
	gap: 20px;
}

.header-lower__menuArea {
	display: flex;
	gap: 26px;
}

.header-lower__manu2Area {
	display: flex;
	gap: 20px;
}

.header-lower__search {
	width: 24px;
}

.header-lower__smile {
	width: 25px;
}

.header-lower__heart {
	width: 25px;
}

.drawer-icon {
	display: none;
}

/* Footer
=========================== */
.footer-inner {
	width: 100%;
}

.footer-up {
	margin: 0 auto;
	padding: 40px 24px 64px;
	width: 100%;
	max-width: 1088px;
}

.footer-logo {
	width: 100%;
	max-width: 190px;
	height: auto;
}

.footer-sub {
	font-family: var(--ff-en);
	font-size: 20px;
	letter-spacing: .3em;
}

.footer-up__wrap {
	margin-top: 40px;
	display: flex;
	align-items: start;
	justify-content: space-between;
	line-height: 2.5;
}

.footer-content__text {
	margin-top: 28px;
	text-align: center;
}

.footer-low {
	background: var(--color-primary);
	color: #fff;
	margin: 0 auto;
	width: 100%;
	padding: 25px 24px 37px;
	font-size: 12px;
	letter-spacing: 0;
}

.footer-low__wrap {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;

}

.footer-low__content {
	font-family: 'Inter';
}

.footer-low__snsArea {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.footer-sns {
	display: block;
}

.footer-copyright {
	margin-top: 30px;
	text-align: center;
}

/* top-fv
=========================== */
.top-fv {
	margin: 0 auto;
	width: 100%;
}

.top-fv__area {
	position: relative;
	overflow: hidden;
}

.top-fv__img {
	width: 100%;
	max-width: 1920px;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.top-fv__txtArea {
	content: "";
	position: absolute;
	top: 25%;
	left: 20%;
}

.top-fv__logo {
	width: 100%;
	max-width: 274px;
	height: auto;
}

.top-fv__text {
	margin-top: 26px;

}

.top-fv__btnArea {
	margin-top: 38px;
}

/*  top-movie
=========================== */
.top-movie {
	width: 100%;
	padding: 160px 0;
}

.top-movie__videoArea {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.top-movie__video {
	width: 100%;
	height: auto;
	aspect-ratio: 2;
}

/* top-about
=========================== */
.top-about {
	width: 100%;
	padding: 160px 0;
}

.top-about__contents {
	display: flex;
	align-items: start;
	gap: 74px;
}

.top-about__img {
	width: 100%;
	max-width: 746px;
	height: auto;
}

.top-about__txtArea {
	position: relative;
}

.top-about-text {
	margin-top: 70px;
}

.top-about__btnArea {
	margin-top: 65px;
}

.top-about__pic {
	content: "";
	position: absolute;
	top: -200px;
	right: -500px;
	width: 460px;
	height: 448px;
}
